<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Like page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-color: #f5f5f5;">

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">

                    <!-- Assuming 'username' and 'photoUrl' are variables from your Spring model -->
                    <img th:src="${photoUrl}" alt="User Image" class="mx-auto rounded-circle img-fluid" style="width: 150px;">
                    <h3 class="mt-3" th:text="${username}">User name</h3>
                    <br>

                    <!-- Form for like and dislike buttons -->
                    <form th:action="@{/like}" method="post">
                        <div class="row">
                            <!-- Like button -->
                            <div class="col-6">
                                <button type="submit" name="like" value="true" class="btn btn-outline-success btn-block">
                                    <span class="fa fa-heart"></span> Like
                                </button>
                            </div>
                            <!-- Dislike button -->
                            <div class="col-6">
                                <button type="submit" name="like" value="false" class="btn btn-outline-danger btn-block">
                                    <span class="fa fa-times"></span> Dislike
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript and dependencies -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>
